@model FlightSE.Models.SearchQuery
@{
    ViewData["Title"] = "Find Your Flight";
}

<div class="row" id="formContainer">
    <div class="col-8">
        <h1 class="display-4">Find Your Flight</h1>
    </div>
    <div class="card col-8 searchPanel">

        <div class="card-body">
            <form onsubmit="return false" id="submitSearch">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group form-floating">
                    <div>
                        <div class="form-floating">
                            <label for="Way" class="control-label">Trip</label>
                            <select asp-for="Way" class="form-control trip">
                                <option value="oneway">One Way</option>
                                <option value="round" selected="selected">Return</option>
                            </select>
                            <span asp-validation-for="Way" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label for="Adults" class="control-label">Adults</label>
                            <select asp-for="Adults" class="form-control  passangers">
                            </select>
                            <span asp-validation-for="Adults" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label for="Children" class="control-label">Children</label>
                            <select asp-for="Children" class="form-control  passangers">
                            </select>
                            <span asp-validation-for="Children" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label for="Infant" class="control-label">Infant</label>
                            <select asp-for="Infant" class="form-control  passangers">
                            </select>
                            <span asp-validation-for="Infant" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label for="Class" class="control-label">Class</label>
                            <select asp-for="Class" class="form-control class">
                                <option value="">Any</option>
                                <option value="M" selected="selected">Economy</option>
                                <option value="W">Premium Economy</option>
                                <option value="C">Business</option>
                                <option value="F">First Class</option>
                            </select>
                            <span asp-validation-for="Class" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <label for="Stopovers" class="control-label">Stopovers</label>
                            <select asp-for="Stopovers" class="form-control stopovers">
                                <option value="6" selected="selected">Any</option>
                                <option value="0">None</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="4">5</option>
                            </select>
                            <!-- <span asp-validation-for="Stopovers" class="text-danger"></span> -->
                        </div>
                        <div class="form-floating">
                            <label for="Currency" class="control-label">Currency</label>
                            <select asp-for="Currency" class="form-control currency"><option value="AED">AED</option><option value="AMD">AMD</option><option value="AUD">AUD</option><option value="BHD">BHD</option><option value="BRL">BRL</option><option value="BYN">BYN</option><option value="CAD">CAD</option><option value="CHF">CHF</option><option value="CLP">CLP</option><option value="CNY">CNY</option><option value="CZK">CZK</option><option value="DKK">DKK</option><option value="EUR">EUR</option><option value="GBP" selected="selected">GBP</option><option value="HKD">HKD</option><option value="HUF">HUF</option><option value="IDR">IDR</option><option value="ILS">ILS</option><option value="INR">INR</option><option value="ISK">ISK</option><option value="JOD">JOD</option><option value="JPY">JPY</option><option value="KGS">KGS</option><option value="KRW">KRW</option><option value="KWD">KWD</option><option value="KZT">KZT</option><option value="MXN">MXN</option><option value="MYR">MYR</option><option value="NOK">NOK</option><option value="NZD">NZD</option><option value="OMR">OMR</option><option value="PEN">PEN</option><option value="PHP">PHP</option><option value="PLN">PLN</option><option value="QAR">QAR</option><option value="RON">RON</option><option value="RSD">RSD</option><option value="RUB">RUB</option><option value="SAR">SAR</option><option value="SEK">SEK</option><option value="SGD">SGD</option><option value="THB">THB</option><option value="TRY">TRY</option><option value="TWD">TWD</option><option value="USD">USD</option><option value="UZS">UZS</option><option value="YER">YER</option><option value="ZAR">ZAR</option></select>
                            <span asp-validation-for="Currency" class="text-danger"></span>
                        </div>
                    </div>
                    <div>
                        <div class="form-floating">
                            <label for="From" class="control-label">From</label>
                            <input list="locationsFrom" asp-for="From" class="form-control flightFrom" />
                            <div id="FromSuggestions"></div>

                        </div>
                        <div class="form-floating">
                            <label for="To" class="control-label">To</label>
                            <input list="locationsTo" asp-for="To" class="form-control flightTo" />
                            <div id="ToSuggestions"></div>

                        </div>
                        <div class="form-floating">
                            <label for="DateFrom" class="control-label">Depart</label>
                            <input asp-for="DateFrom" class="form-control depart" />


                        </div>
                        <div class="form-floating">
                            <label for="DateTo" class="control-label">Return</label>
                            <input asp-for="DateTo" class="form-control return" required />

                        </div>
                    </div>
                    <div id="searchButtonDiv">
                        <span asp-validation-for="From" class="flightValidation"></span>
                        <span asp-validation-for="To" class="flightValidation"></span>
                        <span asp-validation-for="DateFrom" class="flightValidation"></span>
                        <input type="submit" value="Search flights" class="btn btn-warning search-button"  />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div id="runSearch"></div>



<div class="text-center">




    <h2 class="display-5">Recently Searched Flights</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @{
            int countSearches = 0;
            SearchQuery newModel = new SearchQuery();

        }

        @foreach (var item in ViewBag.SearchHistory)
        {

            newModel.GetPicture(@item.To);
            <div class="col">
                <div class="card h-100">
                    <img src="@newModel.ImgAddress["photos"][0]["src"]["medium"]" class="card-img-top" alt="@item.To">
                    <div class="card-body">
                        <h5 class="card-title">
                            From @item.From To @item.To
                        </h5>
                        <p class="card-text">
                            <a href="#" class="btn btn-primary">View</a>
                        </p>
                    </div>
                </div>
            </div>

            /*  @item.UserID
             @item.Way
             @item.Adults
            @item.Children
             @item.Infant
            @item.Class
              @item.Stopovers
            @item.Currency
               @item.QueryDate
            @item.DateFrom
               @item.DateTo
             */


            if (countSearches == 3)
            {
                break;
            }
            countSearches += 1;
        }
    </div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

