@model FlightSE.Models.SearchQuery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SearchQuery</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Way)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Way)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adults)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adults)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Children)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Children)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Infant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Infant)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stopovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stopovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QueryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QueryDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
